html {
    font-size: 16px;
}

body {
    font-family: Helvetica, sans-serif;
    color: rgb(58, 58, 58);
    margin: 0;
    padding: 0;
}

header {
    height: 4rem;
    /* background-color: red; */
    display: flex;
    align-items: center;
}
.nav-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    color: gray;
}

li {
    /* display: inline-block;    */
}

.nav-logo {
    margin-left: 1.5rem;
    
}

.nav-brand {
    height: 2rem;
    position: relative;
    top: 0.3rem;
    margin-right: 61rem;
}

.nav-bold {
    font-weight: bold;
    color:rgb(53, 52, 52);
}

.nav-link1 {
    margin-right: 1rem;
}

.nav-link2 {
    margin-right: 1rem;      
}

.nav-link3 {
    margin-right: 1rem;
}

.nav-link4 {
    margin-right: 1.5rem;
}

/* Banner section */

.banner {
    background-color: #cccccc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner-image {
    width: 60%;    
    /* padding: 2rem 1.5rem; */
}

.banner-image img {
    width: 95%;
    margin: 2rem 1.5rem;
}

.banner-writing {
    margin-left: 1.5rem;
    margin-right: 3rem;
    /* color: rgb(58, 58, 58); */
}

.banner-writing h1 {
    font-size: 3.5rem;
}

.banner-writing p {
    font-size: 2.1rem;
}

button {
    background-color: rgb(58, 58, 58);
    border: none;
    color: white;
    padding: 0.5rem 12.3rem;
    text-align: center;
}

/* Orientation Section */

.orientation {
    display: flex;   
}

.orientation-col {
    width: 60%;
    height: auto;
}

.orientation-col img {
    width: 95%;
    margin: 2rem 1.5rem;
}

.orientation-col h2 {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.orientation-col p {
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-right: 1.5rem;
}

.orientation-col2 {
   width: 40%;
   height: auto;
}

.orientation-info {
    display: flex;
    justify-content: flex-start;
    border: 0.2rem solid #cccccc;
    border-top: 0;
}

.orientation-info img {
    width: 35%;
    height: auto;
    margin: 1rem;
}

.orientation-date {
    position: relative;
    top: 2.5rem;
}

.orientation-date a{
    text-decoration: none;
}

.orientation-campus {
    display: flex;
    justify-content: flex-start;   
    border: 0.2rem solid #cccccc;
    border-top: 0;
}

.orientation-campus img {
    width: 35%;
    height: auto;
    margin: 1rem;
}

.orientation-location {
    position: relative;
    top: 2.5rem;
}

.orientation-location a {
    text-decoration: none;
}

.orientation-lecture {
    display: flex;
    justify-content: flex-start;   
    border: 0.2rem solid #cccccc;
    border-top: 0;
    background-color: #cccccc;
}

.orientation-lecture img {
    width: 35%;
    height: auto;
    margin: 1rem;
}

.orientation-guest {
    position: relative;
    top: 2.5rem;
}

.orientation-lecture a {
    text-decoration: none;
}