html,
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: 0;
    color:rgb(56, 56, 56);
    /* box-sizing: border-box; */
}

img {
    max-width: 100%;
}


/*================  Nav Section =====================*/

header {
    height: 4rem;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
    margin-left: 1.5rem;
    margin-top: 0.7rem;
}

.colmar {
    font-weight: bold;
}

.nav-links {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links a {  
    text-decoration: none;
    margin-right: 1rem;
}

#signin {
    margin-right: 1.5rem;
}

.nav-icons {
    display: none;
}



/*====================== Banner section ==============================*/

.banner-container {
    display: flex;
    background-color: lightgray;
    width: 100%;
    height: auto;
}

.banner-text-container {
    width: 40%;
    height: auto;
    margin: auto;
}

.banner-image-container {
    width: 60%;
    padding: 2rem 1.5rem;
    height: auto;
}

#banner-image {
    width: 100%;
    height: auto;
    
}

.banner-text {
    color:rgb(53, 52, 52);
    align-content: center;
    margin: 2rem 1.5rem;
}

.banner-title-p {
    padding: 1.5rem 0;
    max-width: 85%;
    font-size: 1.3rem;
}
 .banner-title {
     max-width: 85%;
     font-size: 2rem;
     font-weight: bolder;
 } 
     
 button {
    width: 60%;
    background-color:rgb(53, 52, 52);
    padding: 0.5rem;
    color: white;
    border: none;
    font-size: 1.3rem;
}






/* ================== Campus Section =====================================*/

.campus-container {
    width: 100%;
    height: auto;
    display: flex;
}

.campus-container-left {
    width: 60%;
    height: auto; 
    padding: 2rem 1.5rem;
}

.campus-image-container  {
    width: 100%;
    height: auto; 
    
}

#campus-image {
    max-width: 100%;
    height: auto;
} 

.campus-text {
    max-width: 90%;
    color:rgb(53, 52, 52);
}  

.campus-title {
    font-size: 2rem;
}

.campus-title-p, p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
 
.campus-container-right {
    width: 40%;
    height: auto;
    border-left:0.1rem solid rgb(206, 206, 206);
}

.orientation-container {
    width: 100%;
    height: auto;
    display: flex;
    padding: 1.8rem;
    border-bottom: 0.2rem solid lightgray;
}

.orientation-image-container {
    width: 35%;
    height: auto;
}

.orientation-image-container img {
    width: 100%;
    height: auto;
}

.orientation-date {
    display: flex;   
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;  
    margin-left: 1rem; 
}

.orientation-title-p {
    color:rgb(148, 147, 147);
    margin-right: 1.5rem;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

.orientation-date a {
    font-size: 0.9rem;
    text-decoration: none;
}

.campus-location-container {
    width: 100%;
    height: auto;
    display: flex;
    padding: 1.8rem;
}

.location-image-container {
    width: 35%;
    height: auto;
}

.location-image-container img {
    width: 100%;
    height: auto; 
}

.campus-location {
    display: flex;   
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    margin-left: 1rem;
}

#campus-title-p {
    color:rgb(148, 147, 147);
    margin-right: 1.5rem;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;    
}

.campus-location a {
    font-size: 0.9rem;
    text-decoration: none;
}

.lecture-container {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 1.7rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-bottom: 1.2rem;
    background-color: lightgray;
}

.lecture-image-container {
    width: 35%;
    height: auto;
}

.lecture-image-container img {
    width: 100%;
    height: auto;
}

.orientation-guest {
    width: 65%;
    /* display: block;  */
    display: flex;   
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    padding-left: 1rem; 
    margin-left: 1rem;
}

.orientation-guest p {
    margin-right: 1.5rem;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

.orientation-title-p {
   color:rgb(148, 147, 147);     
}

.orientation-guest a {
    text-decoration: none;
    font-size: 0.9rem;
}



/* ============= Start learning Section =========================== */

.courses-container {
    width: 100%;
    height: auto;
    background-color: rgb(226, 226, 226);
}

.heading {
    padding-top: 2rem;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.learning-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 4.5rem;
}

.course-text {
    padding-left: 1.5rem;
    padding-right: 3.5rem;
    background-color: white;
    margin-top: -1.5rem;  
    padding-bottom: 1.5rem;
    margin: 1.5rem;
} 

.course-text p {
    max-width: 17rem;
}

.computer-art-p {
    margin-bottom: 0;
}

.course-text h3 {
    padding-top: 1rem;    
}

.course-image img {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: -1.8rem;
   
}

.course-image img:hover {
    opacity: 0.5;
    transition: 0.9s;
} 



@media screen and (max-width: 400px) {
    .courses-container {
        background-color: white;
    }

    .course-image {
        display: none;
    }

    .course-text p {
        display: none
    }

    .course-text h3 {
        padding: 1rem 2.5rem 1.5rem 1rem;
        background-color: rgb(160, 160, 160);
        margin-bottom: 0.5rem;
    }
}









/* =================Thesis exhibit Section ===========================*/

.thesis-heading {
    text-align: center;
    font-size: 2rem;
    background-color: olive;
}

.thesis-container {
    background-color: orange;
    display: flex;
    width: 100%;
}

.video-info {
    background-color: orchid;
    width: 60%;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

video {
    width: 100%;
    height: auto;
}

.info-side-banner {
    background-color: purple;
    padding: 1rem;
    width: 40%;
}

.side-banner1 {
    display: flex;
    background-color: yellow;
    margin-bottom: 2rem;
   
}   

.side-banner2 {
    display: flex;
    background-color: turquoise;
    margin-bottom: 2rem;
   
}

.side-banner1 img {
    width: 30%;
    height: auto;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.side-banner2 img {
    width: 30%;
    height: auto;
    margin-right: 1rem;
}

.side-banner-info {
    background-color: tomato;
    padding-top: 1.5rem;
}
   

@media only screen and (max-width: 45rem) {
    .video-info {
        width: 100%;
        padding: 0;
    }

    .video-info h3, 
    .video-info p {
        display: none;
    }

    .info-side-banner {
        display: none;
    }    
} 
 


/* Footer Section */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin-left: 1.5rem;
    margin-top: 1rem;
}

footer a {
    text-decoration: none;
    margin-right: 1.5rem;
}





/* ===========   Media quries ======================== */


@media only screen and (max-width: 45rem) { 
    .nav-links a {
        display: none;
    }
    
   .nav-icons .nav-icon {
        display: inline-block;
        margin-top: 0.7rem;  
        margin-right: 1.8rem; 
        margin-bottom: 0.3rem;    
    }

  
    .banner-container {
        display: block;
        height: auto;
        width: 100%;
    }

    .banner-image-container {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .banner-image {
        max-width: 100%;
    }
    .banner-text-container {
        width: 100%;
        height: auto;
        padding: 2rem 1rem;
    }

    button {
        background-color: rgb(160, 160, 160);
        width: 90%;
    }




    .campus-container-left {
        display: none;
    }

    .campus-container-right {
        display: block;
        width: 100%;
    }

    .orientation-container {
        display: inline-block;
        width: 100%;
    }

    .orientation-image-container {
        width: 100%;
        height: 12rem;
    }

    .orientation-image-container img {
        width: 85%;
        height:100%;
       margin-right: 1rem;
    }

    .orientation-date {
        margin-left: 2rem;
    }


    .campus-location-container {
        display: inline-block;
        width: 100%;
    }   

    .location-image-container {
        width: 100%;
        height: 12rem;
    }
       
    .location-image-container img {
        width: 85%;
        height: 100%;
    }

    .campus-location {
        margin-left: 2rem;
    }


    .lecture-container {
        display: inline-block;
        width: 100%;
        background-color: white;
    }

    .lecture-image-container {
        width: 100%;
        height: 12rem;
    }

    .lecture-image-container img {
        width: 85%;
        height: 100%;       
    }

    .orientation-guest {      
        margin-left: 2rem;
    }
    
    .footer a {
        display: none;
    }

    footer p {
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }
}









/* .wrapper {
    background-color: thistle;
    
}


.wrapper h1 {
    text-align: center;
    padding-top: 2rem;
}

.img-area6{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:yellowgreen;
}

.hi {
   padding: 1rem;
}

.image1 {
  
}

.hi-text {
    background-color: white;
   margin-top: -1.5rem;
   padding: 1.5rem 3rem 0 1.5rem;
}

.hi p {
    
    margin-bottom: -1.5rem;
    background-color: violet;
}
img:hover {
    opacity: 0.5;
    transition: 0.9s;
}


 */









